<%- include("../partials/admin-header.ejs"); %>

<main class="admin-main">
    <div class="modify-products-container">
        <h1>Partially or fully update a product:</h2>
    <form action="/products/<%= productId %>?_method=PATCH" method="post" enctype="multipart/form-data">
        <label for="name">Product name:</label>
        <input type="text" name="name" placeholder="Product Name" value="<%= product.name %>" required >
        <label for="description">Product description:</label>
        <input type="text" name="description" value="<%= product.description %>" required >
        <label for="price">Price:</label>
        <input type="number" name="price" value="<%= product.price %>" required >
        <label for="category">Category:</label>
        <input type="text" name="category" value="<%= product.category %>" required>
        <label for="stock">Stock number:</label>
        <input type="number" name="stock" value="<%= product.stock %>" required >
        <label for="thumbnail">Thumbnail:</label>
        <input type="file" name="thumbnail" accept="image/*" >
        <label for="images">Product Images: (Multiple Images, up to 10)</label>
        <input type="file" name="images" accept="image/*" >
        <button type="submit">Modify product</button>
    </form>

    </div>
    <% if (product.is_active) { %> 
        <form action="/products/<%= productId %>?_method=DELETE" method="post">
            <button type="submit">Deactivate products</button>
        </form>
    <% } else { %>
        <form action="/products/<%= productId %>/reactivate" method="post">
            <button type="submit">Activate products</button>
        </form>
    <% } %>
    
</main>

<%- include("../partials/admin-footer.ejs"); %>