<%- include("./partials/header"); %> <!-- Include the shared header and navbar -->

<main>

    <div class="block-title">
        <strong>Your addresses:</strong>
    </div>

    <div class="block-information">
        <div class="box-title">
            <strong><span>Shipping Address</span></strong>
        </div>
        <% if (!addresses.length) { %>
            <div class="box-content"></div>
            <p>You haven't added any adresses yet.</p>
            </div>
        <% } %>
        
         <% if (addresses.length)  { %>
            
                <% addresses.forEach( address => { %>
                    <div class="box-content"></div>
                        <address>
                            <%= address.first_Name %> <% address.last_name %>.<br>
                            <%= address.address %><br>
                            <%= address.city %> <%= address.county %> <%= address.postal_code %><br>
                            <%= address.country %><br>
                            T: <%= address.phone_number %><br>
                            <% if (address.is_shipping === true) { %>
                                This is the default shipping address.
                            <% } %>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a href="/address/shipping-address/edit/<%= address.id %>">Modify address</a>
                        <form 
                            action="/address/shipping-address/<%= address.id %>?_method=DELETE"
                            method="POST"
                            class="delete-form"
                            onsubmit="return confirm('Are you sure you want to delete this address?');"
                        >
                        <button type="submit" class="delete-link">Delete shipping address</button>
                        </form>
                    </div>
                <% }) %>
         <% } %>      
    </div>

    <div class="block-information">
        <div class="box-title">
            <strong><span>Billing Address</span></strong>
        </div>
        <% if (!addresses.length) { %>
            <div class="box-content"></div>
            <p>You haven't added any adresses yet.</p>
            </div>
        <% } %>
        
         <% if (addresses.length)  { %>
            <div class="box-content">
                <% addresses.forEach( address => { %>
                    <% if (address.is_billing) { %>
                    <address>
                        <%= address.first_Name %> <% address.last_name %>.<br>
                        <%= address.address %><br>
                        <%= address.city %> <%= address.county %> <%= address.postal_code %><br>
                        <%= address.country %><br>
                        T: <%= address.phone_number %><br>
                        This is the default billing address
                    </address>
                    <% } %>
                <% }) %>
            </div>
         <% } %>      
    </div>

    <a href="/address/shipping-address" class="submit-button">Add address</a>
    <!-- Axios script to handle address deletion -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</main>

<%- include("./partials/footer"); %> <!-- Include the shared footer -->