<%- include("./partials/header"); %>

<main>
    <h1>SHOPPING CART</h1>
    <div class="cart-contents">
        
        <% if (!cartItems.length) { %>
            <p>Your cart is currently empty.</p>
        <% } else { %>
            <% cartItems.forEach(item => { %>
                <p>Product</p>
                <p>Quantity</p>
                <div class="cart-item">
                    <img src="<%= item.thumbnail %>">
                    <a href="/products/<%= item.id %>"><%= item.name %></a>
                    <p><%= item.quantity %> x <%= item.price %> </p>
                    <a href="/">Continue shopping</a>

                    <form action="/cart/delete/<%= item.id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="productId" value="<%= item.id %>">
                        <button type="submit" class="delete-from-cart-btn">Delete item from cart</button>
                    </form>

                    <form action="/cart?_method=PUT" method="POST">
                        <input type="hidden" name="productId" value="<%= item.id %>">
            
                        <div class="quantity-selector">
                            <button type="button" class="quantity-btn minus">-</button>
                            <input 
                            type="number"
                            name="quantity"
                            class="quantity-input"
                            value="1"
                            min="1"
                            max="<%= item.stock || 10 %>" 
                            >
                            <button type="button" class="quantity-btn plus">+</button>
                        </div>
                        
                        <button type="submit" class="add-to-cart-btn">Update cart</button>
                    </form>
                    
                </div>
           <% }) %>

            <form action="/cart/delete?_method=DELETE" method="POST">
                <button type="submit" class="delete-from-cart-btn">Clear cart</button>
            </form>

            <div class="cart-totals">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Cart Total
                            </th>
                        </tr>
                    </thead>
                </table>
                <table>
                    <tbody>
                        <tr class="order-total">
                            <th>Total</th>
                            <td>
                                <strong><%= cartTotal %></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="checkout">
                <a href="/cart/checkout">Proceed to checkout</a>
            </div>
            

        <% } %>

    </div>
</main>

<%- include("./partials/footer"); %>