<%- include("./partials/header"); %>

<main>
    <!-- checkout form in case user is not logged in -->
    <form method="POST" action="/address/shipping-addresses">
        <label for="firstName">First name:</label>
        <input type="text" name="firstName">
    
        <label for="lastName">Last name:</label>
        <input type="text" name="lastName">
    
        <label for="address">Address</label>
        <input type="text" name="address">
    
        <label for="city">City</label>
        <input type="text" name="city">
    
        <label for="county">County</label>
        <input type="text" name="county">
    
        <label for="phoneNumber">Phone:</label>
        <input type="text"  name="phoneNumber">
    
        <label for="postalCode">Postal code:</label>
        <input type="text" name="postalCode">
    
        <button type="submit">Add Address</button>

        <!-- checkout details  -->
    <div class="checkout">
        <% if (cartItems.length > 0) { %>
            <table>
                <thead>
                  <tr>
                    <th>Produs</th>
                    <th>Sub-total</th>
                  </tr>
                </thead>
                <tbody>
                  <% cartItems.forEach(item => { %>
                    <tr>
                      <td>
                        <%= item.name %>
                        <strong>×&nbsp;<%= item.quantity %></strong>
                      </td>
                      <td>
                        <%= item.total_price %> lei
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Sub-total</th>
                    <td><%= cartTotal %> lei</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td><strong><%= cartTotal %> lei</strong></td>
                  </tr>
                </tfoot>
              </table>
        <% } %>      

</main>



<%- include("./partials/footer"); %>