<%- include("./partials/header") %>

<main>
    <div class="product-main">

        <div class="product-main__image">
            <img src="<%= product.thumbnail %>">
        </div>
        <% console.log(product.images) %>
        <div class="product-main__slideshow">
            <% product.images.forEach((image) => { %>
                <img src="<%= image %>" >
           <% }) %>
        </div>

        <div class="product-main__title">
            <h1><%= product.name %></h1>
        </div>

        <div class="product-main__price">
            <p><%= product.price %>$</p>    
        </div>
        
        <form action="/cart/<%=product.id%>" method="POST">
            <input type="hidden" name="productId" value="<%= product.id %>">

            <div class="quantity-selector">
                <button type="button" class="quantity-btn minus">-</button>
                <input 
                type="number"
                name="quantity"
                class="quantity-input"
                value="1"
                min="1"
                max="<%= product.stock || 10 %>" 
                >
                <button type="button" class="quantity-btn plus">+</button>
            </div>

            <button type="submit" class="add-to-cart-btn">Add to cart</button>
        </form>
        <div class="product-main__description">
            <p><%= product.description %></p>    
        </div>


        <div class="product-main__category">
            <p>Category: <%=product.category%></p>
        </div>

        
    </div>
</main>

    

        

        

        

    

<%- include("./partials/footer"); %>