<%- include("./partials/header"); %>

<main>
    <div class="products-box">

        <% products.forEach( product => { %>
        <div class="product">

            <div class="product__image">
                <img src="<%= product.thumbnail %>">
            </div>

            <div class="product__text-box">

                <div class="product__title">
                <a href="/products/<%=product.id%>"><%= product.name %></a>
                </div>

                <div class="product__price">
                    <%= product.price %>$
                </div>

            </div>

        </div>
        <% }) %>

    </div>
    
</main>

<%- include("./partials/footer"); %>