<%- include('../partials/header') %>

<main class="change-pass-container">
  <h1>Change Password</h1>

  <form action="/user/update-password" method="POST" id="passwordForm">

    <%- include ("../partials/password-field", {
                    id: "CurrentPassword",
                    name: "currentPassword",
                    label: "Current Password",
                    required: true
                }) %>

    <%- include ("../partials/password-field", {
                    id: "password",
                    name: "password",
                    label: "New Password",
                    required: true
                }) %>

    <%- include ("../partials/password-field", {
                    id: "cpassword",
                    name: "cpassword",
                    label: "Confirm New Password",
                    required: true
                }) %>

    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</main>

<%- include('../partials/footer') %>
