<%- include("../partials/header"); %>

<main>
    <div class="cart-wrapper">
        <div class="cart-title-wrapper">
            <span class="cart-title">Shopping Cart</span>
        </div>
       <% if (cartMessage) { %>
            <div class="cart-notification" id="cartNotification">
                <div class="cart-notification__content">
                <%= cartMessage %>
                </div>
                <button class="cart-notification__close" aria-label="Close notification">
                <svg viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                </button>
            </div>
        <% } %>

        <div class="cart-contents">
            
                <% if (!cartItems.length) { %>
                    <p>Your cart is currently empty.</p>
                <% } else { %>
                    <div class="main-display-wrapper">
                        <div class="cart-columns">
                            <p class="title-column">PRODUCT</p>
                            <p class="quantity-column">QUANTITY</p>
                        </div>
                        <% cartItems.forEach(item => { %>
                            
                            <div class="cart-item">
                                <div class="cart-item__thumbnail">
                                    <img src="<%= item.thumbnail %>">
                                </div>
                                <div class="cart-item__content">
                                    <a class="item-title" href="/products/<%= item.id %>"><%= item.name %></a>
                                    <p class="item-price"><%= item.quantity %> x <span><%= item.price %>€</span></p>

                                    <form action="/cart/delete/<%= item.id %>?_method=DELETE" method="POST" class="item-delete">
                                        <input type="hidden" name="productId" value="<%= item.id %>">
                                        <button type="submit" class="delete-from-cart-btn">Delete item from cart</button>
                                    </form>
                                </div>
                                <div class="cart-item__quantity">
                                    <form action="/cart?_method=PATCH" method="POST" class="item-update">
                                        <input type="hidden" name="productId" value="<%= item.id %>">

                                        <div class="quantity-control-group">
                                            <button type="submit" class="update-icon-btn" aria-label="Update quantity" hidden>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                                </svg>
                                            </button>
                                            <div class="quantity-selector">
                                                <button type="button" class="quantity-btn minus">-</button>
                                                <input 
                                                type="number"
                                                name="quantity"
                                                class="quantity-input"
                                                value="<%= item.quantity %>"
                                                min="1"
                                                max="<%= item.stock || 10 %>" 
                                                >
                                                <button type="button" class="quantity-btn plus">+</button>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        <% }) %>
                        <div class="cart-actions">
                            <button class="continue-shopping-btn btn-tertiary"><a href="/products/">← CONTINUE SHOPPING</a></button>
                            <form action="/cart/delete?_method=DELETE" method="POST" class="clear-cart">
                                <button type="submit" class="delete-from-cart-btn btn-secondary">CLEAR CART</button>
                            </form>
                        </div>
                    
                    </div>

            <div class="secondary-display-wrapper">
                <div class="cart-totals">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <span class="title-th">CART TOTALS</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table>
                        <tbody>
                            <tr class="order-total">
                                <th>Subtotal</th>
                                <td>
                                    <strong>€<%= cartSubtotal %></strong>
                                </td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td id="shipping-cost">Calculated at checkout</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>
                                    <strong>€<%= cartSubtotal %></strong>(includes <strong>€<%= (parseFloat(cartSubtotal) / 100 * 20).toFixed(2)%></strong> VAT)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="checkout">
                    <% if (user) { %>
                            <a class="big-btn btn-primary" href="/cart/checkout">Proceed to checkout</a>
                        
                    <% } else { %>
                        <div class="not-authenticated">
                            <p>You need to register or log in to proceed to checkout.</p>
                            <a href="/auth/register" class="big-btn btn-primary">Register</a>
                            <a href="/auth/login" class="big-btn btn-primary">Log In</a>
                        </div>
                        
                    <% } %>
                </div>
                

            <% } %>
            </div>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>