<%- include("../partials/header"); %>

<main>
    <div class="cart-wrapper">
        <div class="cart-title-wrapper">
            <span class="cart-title">Shopping Cart</span>
        </div>
       <% if (cartMessage) { %>
            <div class="cart-notification" id="cartNotification">
                <div class="cart-notification__content">
                <%= cartMessage %>
                </div>
                <button class="cart-notification__close" aria-label="Close notification">
                <svg viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
                </button>
            </div>
        <% } %>

        <div class="cart-contents">
            <div class="main-display-wrapper">
                <div class="cart-columns">
                    <p class="title-column">PRODUCT</p>
                    <p class="quantity-column">QUANTITY</p>
                </div>
                
                <% if (!cartItems.length) { %>
                    <p>Your cart is currently empty.</p>
                <% } else { %>
                    <% cartItems.forEach(item => { %>
                        
                        <div class="cart-item">
                            <div class="cart-item__thumbnail">
                                <img src="<%= item.thumbnail %>">
                            </div>
                            <div class="cart-item__content">
                                <a class="item-title" href="/products/<%= item.id %>"><%= item.name %></a>
                                <p class="item-price"><%= item.quantity %> x <span><%= item.price %>€</span></p>

                                <form action="/cart/delete/<%= item.id %>?_method=DELETE" method="POST" class="item-delete">
                                    <input type="hidden" name="productId" value="<%= item.id %>">
                                    <button type="submit" class="delete-from-cart-btn">Delete item from cart</button>
                                </form>
                            </div>
                            <div class="cart-item__quantity">
                                <form action="/cart?_method=PATCH" method="POST" class="item-update">
                                    <input type="hidden" name="productId" value="<%= item.id %>">
                        
                                    <div class="quantity-selector">
                                        <button type="button" class="quantity-btn minus">-</button>
                                        <input 
                                        type="number"
                                        name="quantity"
                                        class="quantity-input"
                                        value="<%= item.quantity %>"
                                        min="1"
                                        max="<%= item.stock || 10 %>" 
                                        >
                                        <button type="button" class="quantity-btn plus">+</button>
                                    </div>
                                    
                                    <button type="submit" class="add-to-cart-btn">Update cart</button>
                                </form>
                            </div>
                        </div>
                <% }) %>
                        <div class="cart-actions">
                            <button class="continue-shopping-btn"><a href="/products/">← CONTINUE SHOPPING</a></button>
                            <form action="/cart/delete?_method=DELETE" method="POST" class="clear-cart">
                                <button type="submit" class="delete-from-cart-btn">CLEAR CART</button>
                            </form>
                        </div>
                    
            </div>

            <div class="secondary-display-wrapper">
                <div class="cart-totals">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <span class="title-th">CART TOTALS</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table>
                        <tbody>
                            <tr class="order-total">
                                <th>Subtotal</th>
                                <td>
                                    <strong>€<%= cartTotal %></strong>
                                </td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>
                                    <strong>€<%= cartTotal %></strong>(includes <strong>€<%= (parseFloat(cartTotal) / 100 * 20).toFixed(2)%></strong> VAT)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="checkout">
                    <% if (user) { %>
                            <a class="big-btn btn-checkout" href="/cart/checkout">Proceed to checkout</a>
                        
                    <% } else { %>
                        <div class="not-authenticated">
                            <p>You need to register or log in to proceed to checkout.</p>
                            <a href="/auth/register" class="big-btn btn-primary">Register</a>
                            <a href="/auth/login" class="big-btn btn-secondary">Log In</a>
                        </div>
                        
                    <% } %>
                </div>
                

            <% } %>
            </div>
        </div>
    </div>
</main>

<%- include("../partials/footer"); %>